@font-face {
    font-family: Georgia;
    src: url(assets/fonts/georgia/Georgia.ttf);
}
@font-face {
    font-family: Arial;
    src: url(assets/fonts/arial/ofont.ru_Arial.ttf);
}
@font-face {
    font-family: Inter;
    src: url(assets/fonts/inter/Inter-Regular.ttf);
}
:root {
	--color-light-xl: #fff;
	--color-light-l: #f6f6f6;
	--color-light-s: #fafafa;
	--color-dark-s: #cdcdcd;
	--color-dark-m: #b2b2b2;
	--color-dark-l: #545454;
	--color-dark-xl: #4c4c4c;
	--color-dark-2xl: #444;
	--color-dark-3xl: #292929;
	--color-primary: #f1cdb3;
	--color-primary-light: #fddcc4;
}
:root {
    --font-family: "Georgia", sans-serif;
    --second-family: "Arial", sans-serif;
    --third-family: "Inter", sans-serif;
}
  * {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
.contanier {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}
.start-screen {
    background: url('assets/img/noise_transparent@2x.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}
.header {
    padding: 30px 0 0;
}
.header-pets {
    background-color: var(--color-light-xl);
    padding: 30px 0;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 186px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.logo-title {
    font-family: var(--font-family);
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    transition: 0.3s;
}
.logo-title-light {
    color: var(--color-primary);
}
.logo-title-dark {
    color: var(--color-dark-l);
}
.logo-subtitle {
    font-family: var(--second-family);
    font-size: 13px;
    letter-spacing: 0.1em;
    transition: 0.3s;
}
.logo-subtitle-light{
    color: var(--color-light-xl);
}
.logo-subtitle-dark {
    color: var(--color-dark-3xl);
}
.logo:hover .logo-title{ 
    color: var(--color-primary-light);
}
.logo:hover .logo-subtitle-light{ 
    color: var(--color-light-s);
}
.logo:hover .logo-subtitle-dark{ 
    color: var(--color-dark-s);
}
.nav-menu-list {
    padding: 0 0 3px 0;
    width: 443px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    list-style: none;
}
.nav-menu-link {
    text-decoration: none;
    font-family: var(--second-family);
    font-size: 15px;
    line-height: 160%;
    padding-bottom: 4px;
    transition: 0.3s;
}
.nav-menu-link-light {
    color: var(--color-dark-s);
}
.nav-menu-link-dark {
    color: var(--color-dark-l);
}
.nav-menu-link-light:hover {
    color: var(--color-light-s);
}
.nav-menu-link-dark:hover {
    color: var(--color-dark-3xl);
}
.nav-activ-light {
    color: var(--color-light-s);
    border-bottom: 3px solid var(--color-primary);
    cursor: default;
}
.nav-activ-dark {
    border-bottom: 3px solid var(--color-primary);
    color: var(--color-dark-3xl);
    cursor: default;
}
.burger-menu {
    display: none;
    width: 30px;
    height: 22px;
    border: none;
    position: relative;
    z-index: 2;
    transition: transform .5s;
}
.burger-menu span {
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0px;
    top: 0px;
}
.burger-menu-light span {
    background:var(--color-primary);
}

.burger-menu-dark span {
    background:#000000;
}

.burger-menu span:nth-child(2) {
    transform: translateY(10px);
}
.burger-menu span:nth-child(3) {
    transform: translateY(20px);
}

.header.open .burger-menu {
    transform: rotate(90deg);
}

.header-pets.open .burger-menu {
    transform: rotate(90deg);
}

.not-only {
    padding: 10px 0 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   
.not-only-img {
    margin: 80px 0 0;
    max-width: 698px;
    width: 60%;
    height: auto;
    align-self: end;
}    
.not-only-content {
    width: 460px;
    height: 322px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.not-only-title {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: var(--color-light-xl);
}
.subheading {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-s);
}  
.btn-primary {
    padding: 15px 45px;
    border-radius: 100px;
    background: var(--color-primary);
    text-decoration: none;
    color: var(--color-dark-3xl);
    font-family: var(--font-family);
    font-size: 17px;
    line-height: 130%;
    font-weight: 400;
    letter-spacing: 0.06em;
    transition: 0.3s;
}
.btn-primary:hover {
    background: var(--color-primary-light);
}
.btn-secondary {
    padding: 13px 43px;
    border-radius: 100px;
    border: 2px solid var(--color-primary);
    text-decoration: none;
    color: var(--color-dark-3xl);
    font-family: var(--font-family);
    font-size: 17px;
    line-height: 130%;
    font-weight: 400;
    letter-spacing: 0.06em;
    transition: 0.3s;
}
.btn-secondary:hover {
    background: var(--color-primary-light);
    border: none;
}
.btn-arrow {
    width: 52px;
    height: 52px;
    border-radius: 100%;
    border: 2px solid var(--color-primary);
    padding: 14px 10px;
    background-color: var(--color-light-l);
    transition: 0.3s;
}
.btn-arrow:hover {
    background-color: var(--color-primary-light);
    border: none;
}
.btn-paginator-active {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-3xl); 
    border-radius: 100px;
    padding: 14px 10px;
    width: 52px;
    height: 52px;
    background: var(--color-primary);
}
.btn-paginator-inactive{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-s);
    border: 2px solid var(--color-dark-s);
    border-radius: 100px;
    padding: 12px 15px;
    width: 52px;
    height: 52px;
}
.btn-paginator {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-3xl);
    border: 2px solid var(--color-primary);
    border-radius: 100px;
    padding: 12px 15px;
    width: 52px;
    height: 52px;
    transition: 0.3s;
}
.btn-paginator:hover {
    border:none;
    background: var(--color-primary-light);
}
.subheading-dark {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-xl);
}
.about {
    padding: 80px 0 100px;
    background-color: var(--color-light-xl);
}
.about-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img {
    width: 300px;
    height: auto;
    margin: 0 120px 0 0;
}
.about-content {
    width: 430px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.heading {
    padding: 0;
    margin: 0; 
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 35px;
    line-height: 127%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}
.about-paragraf {
    margin-top: 25px;
    margin-bottom: 0;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-xl);
}

/* 'Our Friends'  */

.friends {
    background-color: var(--color-light-l);
    padding: 80px 0 100px 1px; 
}
.friends-pets {
    height: 1342px;
}
.friends-wropper {
    height: 697px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.heading-friends {
    width: 400px;
    text-align: center;
    padding-bottom: 1px;
}
.friends-slider {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.friends-card {
    width: 270px;
    height: 435px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-light-s);
    transition: 0.3s;
}
.friends-card-paragraf {
    margin: 30px 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-l);
}
.img-card {
    width: 270px;
    height: 270px;
}
.friends-card:hover {
    background: var(--color-light-xl);
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);

}
.friends-card:hover .btn-secondary {
    border-radius: 100px;
    padding: 15px 45px;
    background: var(--color-primary-light);
    border:none;
}

.friends-slider-wrapper {
    width: 990px;
    height: 435px;
    margin: 0 auto;
    overflow: hidden;
}
.friends-wrapper-items {
    height: 435px;
    width: 2790px;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 0;
    transition: all ease 1s;
}
.help {
    background-color: var(--color-light-xl);
    padding: 80px 0 100px;
}
.help-content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}
.heading-help {
    text-align: center;
    margin: 1px 0 60px 1px;
}
.help-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 119px;
    row-gap: 50px;
    max-width: 1026px;
    min-height: 281px;
    list-style: none;
}
.help-item {
    padding: 0;
    margin: 0;
    text-align: center;   
}
.help-paragraf {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}
.help-list-img {
    width: 60px;
    height: 60px;
    margin-bottom: 28px;
}
.in-addition {
    background-color: var(--color-light-l);
    padding: 80px 0 100px;
}
.in-addition-wrapper {
    margin: 0  auto;
    max-width: 915px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.in-addition-img {
    width: 505px;
    height: auto;
}
.in-addition-content {
    width: 380px;
    height: 282px;
}
.in-addition-subheading {
    margin: 22px 0 25px 0;
    background-color: var(--color-light-l);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}
.credit-card-link {
    text-decoration: none;
    padding: 10px 15px 10px 31px;
    background-color: var(--color-primary);
    border-radius: 9px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    transition: 0.5s;
}
.credit-card-link:hover {
    color: var(--color-light-l);
}
.credit-card-link::before {
    content: url(assets/icons/credit-card.svg);
    position: relative;
    top: 5px;
    left: -16px;
}
.in-addition-paragraf {
    margin-top: 30px;
    font-family: var(--second-family);
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--color-dark-m);
}
.friends-pets {
    padding: 80px 0 100px;
    background-color: var(--color-light-l);
}
.heading-pets{
    margin: 0 auto;
    padding: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-l);
}
.slider-pets {
    margin: 44px 0 0;
}
.cards-container {
    width: 100%;
    height: 930px;
    margin: 0 auto 45px;
    overflow: hidden;
    padding: 15px 0;
    /* overflow: scroll; */
}
.cards-container-row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 40px;
    position: relative;
    top: 0;
    transition: all ease 1s;
}
.nav-friends {
    width: 340px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}
.btn-2 {
    display: none;
}
.btn-3 {
    display: none;
}


.footer {
    padding-top: 40px;
    background: url('assets/img/noise_transparent@2x.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}
.footer-content {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}
.footer-img {
    margin: 0;
    padding: 0;
    width: 300px;
    height: auto;
}
.footer-contacts {
    height: 235px;
    margin: 16px 0 50px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-title {
    width: 279px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 35px;
    line-height: 126%;
    letter-spacing: 0.06em;
    color: var(--color-light-xl);
    margin: 0 0 0 0 ;
    padding: 0;
}
.footer-content-items {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.footer-content-img {
    margin-right: 20px;
}
.footer-content-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
    text-decoration: none;
    transition: 0.5s;
}
.footer-content-link:hover {
    color: var(--color-light-l);
}




@media (max-width: 1210px) {
    .friends-slider-wrapper {
        width: 580px;
    }
    .friends-wrapper-items {
        width: 2440px;
    }
    .in-addition-wrapper{
        flex-direction: column;
        margin-top: 4px;
    }
    .in-addition-content {
        order: -1;
        margin-bottom: 60px;
    }
    .footer-content {
        justify-content: center;
        gap: 12px 60px;
    }
    .footer {
        padding-top: 15px;
    }
    .friends-pets {
        height: 1733px;
    }
    .cards-container {
        padding: 0;
        height: 1365px;
        margin: 0 auto 40px;
    }
    .slider-pets {
        margin: 30px 0 0;
    }
}

@media (max-width: 805px) {
    .about-wrapper {
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .about-img {
        margin: 80px 0 0;
    } 
}

@media (max-width: 770px) {
    .contanier {
        padding: 0 30px;
    }
    .not-only {
        flex-direction: column;
        align-items: center;
        padding: 60px 0 0;
    }
    .not-only-content {
        margin: 0;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }
    .not-only-img {
        margin: 100px 0 0;
        width: 569px;
        height: auto;
        align-self: flex-end
    }
    .btn-primary {
        align-self: center;
    }

    .help-item:nth-child(1) {
        position: relative;
        left: -8px;
    }

    .help-item:nth-child(2) {
        position: relative;
        left: -11px;
    }

    .help-item:nth-child(3) {
        position: relative;
        left: -4px;
    }

    .help-item:nth-child(4) {
        position: relative;
        left: -15px;
        top: 1px;
    }

    .help-item:nth-child(5) {
        position: relative;
        left: -34px;
        top: 1px;
    }

    .help-item:nth-child(6) {
        position: relative;
        left: -18px;
        top: 1px;
    }

    .help-item:nth-child(7) {
        position: relative;
        left: 45px;
        top: 3px;
    }

    .help-item:nth-child(8) {
        position: relative;
        left: 23px;
        top: 4px;
    }

    .help-item:nth-child(9) {
        position: relative;
        left: -21px;
        top: 4px;
    }
}
@media (max-width:767px) { 
    .burger-menu {
        display: block;
    }
    .nav-menu {
        position: absolute;
        width: 320px;
        height: 823px;
        top: -823px;
        right: 0;
        background-color: var(--color-dark-3xl);
        padding: 248px 28px 248px 39px;
        transition: transform .5s;
    }

    .nav-menu-list {
        display: flex;
        flex-direction: column;
        align-items:center;
        width: 260px;
        height: 327px;
    }
    .nav-menu-link {
        font-size: 32px;
        line-height: 160%;
    }
    .nav-menu-link-dark {
        color: var(--color-dark-s);
    } 
    .nav-activ-dark {
        color: var(--color-light-s);
        border-bottom: 3px solid var(--color-primary);
        cursor: default;
    }

    .header.open .nav-menu {
        transform: translateY(100%);
    }

    .header-pets.open .nav-menu {
        transform: translateY(100%);
        z-index: 1;
    }

}
@media (max-width: 750px) {
    .friends {
        padding: 42px 0;
    }
    .friends-wropper {
        height: 707px;
    }
    .friends-slider {
        width: 300px;
        height: 512px;
        padding: 8px 0 0px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
        margin-bottom: 15px;
    }
    .friends-slider-wrapper {
        width: 270px;
        order: -1;
    }
    .friends-wrapper-items {
        width: 2160px;
    }
    .heading-friends {
        width: 100%;
        text-align: center;
    }
    .btn-arrow {
        margin: 19px 40px 0 ;
    }
}

@media (max-width: 720px) {
    .not-only-content {
        max-width: 460px;
        width: 100%;
        text-align: center;
    }
    .not-only-title {
        align-self: center;
        font-size: 35px;
    }
    .not-only-img {
        max-width: 569px;
        width: 100%;
        height: auto;
    }
    .in-addition-img {
        width: 260px;
    }
}
@media (max-width: 480px) {
    .about {
        padding: 42px 0;
    }
    .about-content {
        margin: 0 0 77px 0;
        width: 100%;
    }
    .heading {
        font-size: 25px;
        line-height: 130%;
        text-align: center;
    }
    .about-paragraf {
        padding: 0 15px;
        text-align: justify;
    }
    .about-img {
        width: 260px;
    }
    .heading-help {
        width: 290px;
        justify-content: space-between;
        gap: 30px;
    }
    .help {
        padding: 42px 0;
    }
    .help-list {
        margin-top: -20px;
        padding: 0 15px;
        column-gap: 60px;
        row-gap: 30px;
        justify-content: space-between;
    }
    .help-list-img {
        width: 50px;
        height: 50px;
        margin-bottom: 17px;
    }
    .help-paragraf {
        font-size: 15px;
        line-height: 110%;
        text-align: center;
    }
    .in-addition {
        padding: 37px 0 42px;
    }
    .in-addition-wrapper {
        width: 300px;
        align-items:center
    }
    .in-addition-content {
        width: 100%;
    }
    .in-addition-subheading {
        text-align: center;
        margin: 25px auto 26px;
        font-size: 13px;
    }
    .credit-card-link {
        margin-left: 10px;
        font-size: 15px;
        padding: 12px 15px 12px 27px;
    }
    .credit-card-link::before {
        top: 5px;
        left: -12px;
    }
    .in-addition-paragraf {
        width: 280px;
        text-align: justify;
        margin-top: 33px;
        margin-left: 10px;
    }
    .in-addition-img {
        margin-top: -20px;
    }
    .footer-title {
        font-size: 25px;
        text-align: center;
    }
    .footer-content {
        width: 100%;
    }
    .footer-content-items {
        margin-top: 40px;
    }
    .footer-contacts {
        height: none;
        margin: 0 0 13px 0;
        padding-top: 16px;
        justify-content: start;
        align-items: center;
    }
    .footer-content {
        gap: 0;
    }
    .footer-img {
        width: 260px;
        margin-top: 30px;
    }
    .footer-location-items {
        align-self: start;
    }
    .friends-pets {
        height: 1649px;
        padding: 42px 0 0 0;
    }
    .heading-pets {
        font-size: 25px;
    }
    .slider-pets {
        margin: 40px 0 0;
    }
    .nav-friends {
        width: 300px;
        height: 52px;
    }
    .cards-container {
        margin: 0 auto 42px;
    }
}


@media (max-width: 350px) {
    .contanier {
        padding: 0 10px;
    }
    .nav {
        margin: 0 10px;
    }
    .not-only-content {
        height: 296px;
    }
    .not-only-title {
        width: 100%;
        font-size: 25px;
        line-height: 130%;
        letter-spacing: 0.06em;
        text-align: center;
    }
    .not-only-img {
        margin: 105px 0 0;
        max-width: 260px;
        width: 100%;
        height: auto;
    }

    .help-item:nth-child(1) {
        position: relative;
        left: 25px;
    }

    .help-item:nth-child(2) {
        position: relative;
        left: 1px;
    }

    .help-item:nth-child(3) {
        position: relative;
        left: 29px;
    }

    .help-item:nth-child(4) {
        position: relative;
        left: 4px;
        top: 0;
    }

    .help-item:nth-child(5) {
        position: relative;
        left: 16px;
        top: -1px;
    }

    .help-item:nth-child(6) {
        position: relative;
        left: -20px;
        top: -1px;
    }

    .help-item:nth-child(7) {
        position: relative;
        left: 17px;
        top: -1px;
    }

    .help-item:nth-child(8) {
        position: relative;
        left: 7px;
        top: -1px;
    }

    .help-item:nth-child(9) {
        position: relative;
        left: 1px;
        top: -2px;
    }
}