@font-face {
    font-family: Georgia;
    src: url(assets/fonts/georgia/Georgia.ttf);
}
@font-face {
    font-family: Arial;
    src: url(assets/fonts/arial/ofont.ru_Arial.ttf);
}
@font-face {
    font-family: Inter;
    src: url(assets/fonts/inter/Inter-Regular.ttf);
}
:root {
	--color-light-xl: #fff;
	--color-light-l: #f6f6f6;
	--color-light-s: #fafafa;
	--color-dark-s: #cdcdcd;
	--color-dark-m: #b2b2b2;
	--color-dark-l: #545454;
	--color-dark-xl: #4c4c4c;
	--color-dark-2xl: #444;
	--color-dark-3xl: #292929;
	--color-primary: #f1cdb3;
	--color-primary-light: #fddcc4;
	--start-screen-gradient-background: #211f20;
	--footer-gradient-background: #211f20;
}
:root {
    --font-family: "Georgia", sans-serif;
    --second-family: "Arial", sans-serif;
    --third-family: "Inter", sans-serif;
  }
  * {
    box-sizing: border-box;
  }
  body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(assets/img/bg.png);
    background-position: top center;
    background-repeat: no-repeat;

  }
.contanier {
    max-width: 1280px;
    margin: 0 auto;
    /* padding: 0 40px; */
}
.logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1px;
}
.logo-title {
    color: var(--color-primary);
    font-family: var(--font-family);
    font-weight: 400;     
    font-size: 32px; 
    line-height: 110%;
    letter-spacing: 0.06em;
}
.logo-subtitle {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.1em;
    color: var(--color-light-xl);
    padding: 10px 5px;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    margin: 30px 40px;
}
.nav-menu-list {
    display: flex;
    justify-content: flex-end;
    align-self: center;
}
.nav-menu-item {
    list-style: none;
    padding: 0 0 0 36px;
}
.nav-menu-link {
    text-decoration: none;
    color: var(--color-dark-s);
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    padding-bottom: 0.1em;

}
.nav-menu-link:hover {
    color: var(--color-light-s);
    border-bottom: 3px solid var(--color-primary);
}
.not-only {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
.not-only-content {
    width: 461px;
    height: 322px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 30px;
}
.not-only-title {
    width: 310px;
    height: 114px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    letter-spacing: 0%;
    color: var(--color-light-xl);
    margin: 0;
}
.subheading {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-s);
}  
.button-primary-link {
    padding: 15px 45px;
    border-radius: 100px;
    background: var(--color-primary);
    text-decoration: none;
    color: var(--color-dark-3xl);
    font-family: var(--font-family);
    font-size: 17px;
    line-height: 130%;
    font-weight: 400;
    letter-spacing: 0.06em;
}
.not-only-img {
    padding-top: 50px;
}
.subheading-dark {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-xl);
}
.about-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 80px 0 100px;
}
.about-img {
    width: 300px;
    height: 408px;
    margin-right: 120px;
}
.about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 430px;
}
.heading {
    width: 370px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 35px;
    line-height: 127%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    margin-top: 15px;
    margin-bottom: 0;
}
.our-friends {
    background-color: var(--color-light-l);
    padding: 80px 40px 100px;
}
.about-paragraf {
    margin-top: 25px;
    margin-bottom: 0;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-xl);
}

.our-friends-wropper {
    width: 1200px;
    height: 697px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.heading-our-friends {
    width: 400px;
    margin: 0;
    text-align: center;
}
.our-friends-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.our-friends-cards {
    width: 990px;
    height: 435px;
    display: flex;
    justify-content: space-between;
}
.btn-slider {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid var(--color-primary);
    margin: 54px;
}
.our-friends-card {
    width: 270px;
    height: 435px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 9px;
    background-color: var(--color-light-s);
}
.img-card {
    width: 270px;
    height: 270px;
}
.button-secondary {
    padding: 13px 43px;
    border-radius: 100px;
    border: 2px solid var(--color-primary);
    text-decoration: none;
    color: var(--color-dark-3xl);
    font-family: var(--font-family);
    font-size: 17px;
    line-height: 130%;
    font-weight: 400;
    letter-spacing: 0.06em;
}
.slider-paragraf {
    margin: 30px 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-l);
}
.help {
    margin: 80px 40px 100px;
}
.help-content {
    width: 1200px;
    height: 431px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 87px;

}
.heading-help {
    text-align: center;
    margin: 0 0 60px 0;
}
.help-list {
    width: 1026px;
    height: 281px;
    display: flex;
    padding: 0;
    justify-content: space-between;
}
.help-list2 {
    width: 1026px;
    height: 281px;
    display: flex;
    padding: 35px 25px 0 20px;
    justify-content: space-around;
}
.help-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-l);
    text-decoration: none;
}
.help-list-ico {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}
.help-list-img {
    margin-bottom: 10px;
}
.in-addition {
    height: 462px;
    padding: 80px 182px 100px;
    background-color: var(--color-light-l);
}
.in-addition-content {
    width: 915px;
    height: 282px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.in-addition-img {
    width: 505px;
    height: 261px;
}
.in-addition-wrapper {
    width: 380px;
    height: 282px;
}
.heading-in-addition {
    margin: 1px;
}
.in-addition-subheading {
    width: 310px;
    margin-top: 18px;
    border: none;
    background-color: var(--color-light-l);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    
}
.credit-card {
    width: 350px;
    height: 43px;
    border-radius: 9px;
    border: none;
    padding: 10px 15px 10px 14px;
    background: var(--color-primary);
    display: flex;
    margin-top: 19px;
}
.credit-card-input {
    border: none;
    width: 350px;
    background-color: var(--color-primary);
    margin-left: 14px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}
.in-addition-paragraf {
    margin-top: 20px;
    font-family: var(--second-family);
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--color-dark-m);
}
.footer {
    height: 350px;
    background-image: url(assets/img/bg-footer.png);
    background-position: center;
    background-repeat: no-repeat;
}
.footer-content {
    margin: 39px 40px 0;
    display: flex;
    justify-content: space-between;
}
.footer-contacts {
    height: 234;
    display: flex;
    flex-direction: column;
    justify-content: start;

}
.footer-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 35px;
    line-height: 126%;
    letter-spacing: 0.06em;
    color: var(--color-light-xl);
    margin: 0;
    margin-top: 18px;
}
.footer-content-items {
    display: flex;
    align-items: center;
    margin-top: 41px;
}
.footer-location {
    width: 302px;
}
.footer-content-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
    text-decoration: none;
    margin-left: 20px;
}
.footer-location-parsgraf {
    position: relative;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
    margin-top: 35px;
    margin-left: 41px;
}
.footer-location-parsgraf::before {
    position: absolute;
    content: url(assets/icons/icon-marker.png);
    top: 4px;
    left: -40px;
    
}
.footer-location-parsgraf2 {
    position: relative;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
    margin-top: 36px;
    margin-left: 41px;
}
.footer-location-parsgraf2::before {
    position: absolute;
    content: url(assets/icons/icon-marker.png);
    top: -6px;
    left: -40px;
    
}
.footer-img {
    width: 300px;
    height: 310px;
}