@font-face {
    font-family: Georgia;
    src: url(assets/fonts/georgia/Georgia.ttf);
}
@font-face {
    font-family: Arial;
    src: url(assets/fonts/arial/ofont.ru_Arial.ttf);
}
@font-face {
    font-family: Inter;
    src: url(assets/fonts/inter/Inter-Regular.ttf);
}
:root {
	--color-light-xl: #fff;
	--color-light-l: #f6f6f6;
	--color-light-s: #fafafa;
	--color-dark-s: #cdcdcd;
	--color-dark-m: #b2b2b2;
	--color-dark-l: #545454;
	--color-dark-xl: #4c4c4c;
	--color-dark-2xl: #444;
	--color-dark-3xl: #292929;
	--color-primary: #f1cdb3;
	--color-primary-light: #fddcc4;
	--start-screen-gradient-background: #211f20;
	--footer-gradient-background: #211f20;
}
:root {
    --font-family: "Georgia", sans-serif;
    --second-family: "Arial", sans-serif;
    --third-family: "Inter", sans-serif;
  }
  * {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
.contanier {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}
.header {
    height: 90px;
    background-image: url(assets/img/bg.png);
    background-size: cover;
    padding: 30px 0 0;
}
.header-pets {
    background-color: var(--color-light-xl);
    height: 120px;
    padding: 30px 0;
}
.nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.logo {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    align-items: end;
}
.logo-title {
    margin: 0;
    padding: 1px 0 0 0 ;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
}
.logo-subtitle {
    margin: 0;
    padding: 0 2px 0 0;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.1em;
    color: var(--color-light-xl);
}
.logo-subtitle-dark {
    margin: 0;
    padding: 0 2px 0 0 ;
    font-family: var(--second-family);
    font-size: 13px;
    letter-spacing: 0.1em;
    color: var(--color-dark-3xl);
}
.nav-menu-list {
    padding: 0;
    width: 443px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    list-style: none;
}
.nav-menu-link {
    text-decoration: none;
    color: var(--color-dark-s);
    font-family: var(--second-family);
    font-size: 15px;
    line-height: 160%;
    padding-bottom: 4px;
}
.nav-menu-link-dark {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-l);
    text-decoration: none;
    padding-bottom: 4px;
}
.nav-menu-link:hover {
    color: var(--color-light-s);
}
.nav-menu-link-dark:hover {
    color: var(--color-dark-3xl);
}
.nav-activ {
    color: var(--color-light-s);
    border-bottom: 3px solid var(--color-primary);
}
.nav-activ-dark {
    border-bottom: 3px solid var(--color-primary);
    color: var(--color-dark-3xl);
}
.not-only {
    height: 818px;
    background-image: url(assets/img/bg.png);
    background-size: cover;
}
.not-only-wrapper {
    margin: 0;
    padding: 90px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.not-only-img {
    width: 698;
    height: 728;
}
.not-only-content {
    margin-top: 164px;
    width: 460px;
    height: 322px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.not-only-title {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: var(--color-light-xl);
}
.subheading {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-s);
}  
.btn-primary {
    margin-top: 1px;
    padding: 15px 45px;
    border-radius: 100px;
    background: var(--color-primary);
    text-decoration: none;
    color: var(--color-dark-3xl);
    font-family: var(--font-family);
    font-size: 17px;
    line-height: 130%;
    font-weight: 400;
    letter-spacing: 0.06em;
}
.btn-primary:hover {
    background: var(--color-primary-light);
}
.btn-secondary {
    padding: 13px 43px;
    border-radius: 100px;
    border: 2px solid var(--color-primary);
    text-decoration: none;
    color: var(--color-dark-3xl);
    font-family: var(--font-family);
    font-size: 17px;
    line-height: 130%;
    font-weight: 400;
    letter-spacing: 0.06em;
}
.btn-secondary:hover {
    background: var(--color-primary-light);
    border: none;
}
.btn-arrow {
    width: 52px;
    height: 52px;
    border-radius: 100%;
    border: 2px solid var(--color-primary);
    padding: 14px 10px;
    background-color: var(--color-light-l);
}
.btn-arrow:hover {
    background-color: var(--color-primary-light);
    border: none;
}
.btn-paginator-active {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-3xl); 
    border-radius: 100px;
    padding: 14px 10px;
    width: 52px;
    height: 52px;
    background: var(--color-primary);
}
.btn-paginator-inactive{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-s);
    border: 2px solid var(--color-dark-s);
    border-radius: 100px;
    padding: 12px 15px;
    width: 52px;
    height: 52px;
}
.btn-paginator {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-3xl);
    border: 2px solid var(--color-primary);
    border-radius: 100px;
    padding: 12px 15px;
    width: 52px;
    height: 52px;
}
.btn-paginator:hover {
    border:none;
    background: var(--color-primary-light);
}
.subheading-dark {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-xl);
}
.about {
    height: 588px;
    padding: 80px 0 100px;
    background-color: var(--color-light-xl);
}
.about-content {
    padding: 0 175px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-img {
    width: 300px;
    height: 408px;
}
.about-wrapper {
    width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.heading {
    padding: 0;
    margin: 0; 
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 35px;
    line-height: 127%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}
.our-friends {
    background-color: var(--color-light-l);
    padding: 81px 0 100px 1px; 
}
.our-friends-pets {
    height: 1342px;
}
.about-paragraf {
    margin-top: 25px;
    margin-bottom: 0;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-xl);
}
.our-friends-wropper {
    height: 696px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.heading-our-friends {
    width: 400px;
    text-align: center;
    padding-bottom: 1px;
}
.our-friends-slider {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.our-friends-cards {
    width: 990px;
    display: flex;
    justify-content: space-between;
}
.cards-container {
    height: 930px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    margin: 0;
    padding: 15px 0;
}
.our-friends-card {
    width: 270px;
    height: 435px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-light-s);
}
.our-friends-card:hover {
    background: var(--color-light-xl);

}
.our-friends-card:hover .btn-secondary {
    border-radius: 100px;
    padding: 15px 45px;
    background: var(--color-primary-light);
    border:none;
}
.nav-our-friends {
    width: 340px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.img-card {
    width: 270px;
    height: 270px;
}
.slider-paragraf {
    margin: 30px 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-l);
}
.pets-content {
    margin: 0;
    height: 1161px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.heading-pets-content {
    text-align: center;
}
.help {
    height: 611px;
    background-color: var(--color-light-xl);
    padding: 80px 0 100px;
}
.help-content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.heading-help {
    text-align: center;
    margin: 1px 0 60px 1px;

}
.help-list {
    margin: 0;
    padding: 0;
    width: 1026px;
    list-style: none;
    display: flex;
    justify-content:space-between;
}
.help-list2 {
    margin: 0;
    padding: 54px 84px 0;
    width: 1026px;
    list-style: none;
    display: flex;
    justify-content:space-between;
}
.help-item {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.help-list-img {
    width: 60px;
    height: 60px;
    margin: 0 0 31px 0;
}
.help-paragraf {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-l);
}
.in-addition {
    background-color: var(--color-light-l);
    padding: 80px 0 100px;
}
.in-addition-content {
    margin: 0  94px 0 144px;
    width: 915px;
    height: 282px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.in-addition-img {
    width: 505px;
    height: 261px;
}
.in-addition-wrapper {
    width: 380px;
    height: 282px;
}
.heading-in-addition {
    margin: 0;
}
.in-addition-subheading {
    width: 310px;
    margin: 22px 0 0 0;
    border: none;
    background-color: var(--color-light-l);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}
.credit-card {
    width: 350px;
    height: 43px;
    border-radius: 9px;
    border: none;
    padding: 12px 15px 10px 15px;
    background-color: var(--color-primary);
    display: flex;
    margin-top: 19px;
}
.credit-card:hover {
    background-color: var(--color-primary-light);
}
.credit-card:hover .credit-card-link {
    background-color: var(--color-primary-light);
}
.credit-card-link {
    text-decoration: none;
    border: none;
    width: 350px;
    background-color: var(--color-primary);
    margin-left: 16px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}
.in-addition-paragraf {
    margin-top: 21px;
    font-family: var(--second-family);
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--color-dark-m);
}
.footer {
    height: 350px;
    padding-top: 40px;
    background-image: url(assets/img/bg-footer.png);
    background-size: cover;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.footer-contacts {
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.footer-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 35px;
    line-height: 126%;
    letter-spacing: 0.06em;
    color: var(--color-light-xl);
    margin: 0;
    margin-top: 18px;
}
.footer-content-items {
    display: flex;
    align-items: center;
    margin-top: 41px;
}
.footer-location {
    width: 302px;
}
.footer-content-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
    text-decoration: none;
    margin-left: 20px;
}
.footer-content-link:hover {
    color: var(--color-primary-light);
}
.footer-location-link {
    margin: -9px 0  0px 20px;
}
.footer-location-img {
    position: relative;
    top: -5.5px;
}
.footer-img {
    width: 300px;
    height: 310px;
}
