* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: #03041F;
}

main {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items:center;
}

footer {
    height: 10%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: center;
    color: #fff;
}

a {
    text-decoration: none;
    color:#fff;
}

a:hover {
    color: #CD0EFC;
}

.logo {
    height: 5vh;
    display: flex;
}

.school {
    height: 100%;
}


