* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-image: url(./assets/img/lemonade.png);
    background-size: cover;
    backdrop-filter: blur(5px);
}

main {
    display: flex;
    height: calc(100vh - 50px);
    width: 100%;
   
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.player {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    overflow: hidden;
    width: 50vh;
    height: 70vh;
    box-shadow: 5px 5px 5px 0px rgba(84, 82, 167, 0.6);
    border: rgba(84, 82, 167, 0.6) 1px solid;

    /* animation: logo 2s infinite; */
}



.imgPlayer {
    width: 100%;
    height: 60%;
    background-image: url(./assets/img/mauntinspng);
    background-size: cover;
}

.navigation {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    background: linear-gradient(156deg, rgba(63,94,251,1) 7%, rgba(252,70,239,1) 100%);
}

.play, .pause{
    height: 90%;
    width: auto;
    border-radius: 50%;
    filter:drop-shadow( 0 0 0 rgba(40, 245, 21, 0.432));
    animation: logo 2s infinite;
}

@keyframes logo {
    0% {
     box-shadow: 0 0 0 0 rgba(40, 245, 21, 0.432);
    }
   70% {
      box-shadow: 0 0 0 5px rgba(137, 228, 137, 0.178)
   }
   100% {
     box-shadow: 0 0 0 0 rgba(188, 231, 188, 0.089);
    }
}

.btns {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    height: 40%;
    width: 100%;
}
.backward, .forward {
    width: auto;
    height: 50%;
}

.discription {
    display: flex;
    justify-content: center;
    align-items:center;
    height: 30%;
    width: 100%;
    font-size: small;
    flex-direction: column;
    /* gap: 10px; */
}

.autor {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    color:rgb(59, 231, 24);
    font-size: 3vh;
}

.nameaudio {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2vh;
    color:rgb(0, 0, 0);
}
.time {
    font-size: 16px;
    color:rgb(0, 0, 0);
    height: 15%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 10px;
    gap: 5px
  }

/* .total-time {
    color: rgb(59, 231, 24);
} */

.progress-container{
    background: rgb(63,94,251);
    border-radius: 5px;
    height: 5px;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items:center;
}
.progress {
    background-color: rgb(59, 231, 24);
    border-radius: 5px;
    width: 0%;
    height: 100%;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.wrapper {
    width: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: azure;
    font-size: 10px;
}

.school {
    width: 10vh;
}

a {
    color: #fff;
    text-decoration: none;
}

 .range {
    -webkit-appearance: none; /* Убирает стандартный вид на WebKit браузерах */
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 0px;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
  }

  /* Стили для ползунка при наведении */
  .range:hover {
    opacity: 1;
  }

.volue {
height: 10%;
width: 90%;
display: flex;
justify-content: space-between;
}


  .volue img {
    width: 10px;
  }